{
    "openapi": "3.1.0",
    "info": {
        "title": "TMDB API",
        "version": "3"
    },
    "servers": [
        {
            "url": "https://api.themoviedb.org"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization",
                "x-bearer-format": "bearer"
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/3/discover/movie": {
            "get": {
                "summary": "Movie",
                "description": "Find movies using over 30 filters and sort options.",
                "operationId": "discover-movie",
                "parameters": [
                    {
                        "name": "certification",
                        "in": "query",
                        "description": "use in conjunction with `region`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "certification.gte",
                        "in": "query",
                        "description": "use in conjunction with `region`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "certification.lte",
                        "in": "query",
                        "description": "use in conjunction with `region`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "certification_country",
                        "in": "query",
                        "description": "use in conjunction with the `certification`, `certification.gte` and `certification.lte` filters",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_adult",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "include_video",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "en-US"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "primary_release_year",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "primary_release_date.gte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "primary_release_date.lte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "release_date.gte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "release_date.lte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "original_title.asc",
                                "original_title.desc",
                                "popularity.asc",
                                "popularity.desc",
                                "revenue.asc",
                                "revenue.desc",
                                "primary_release_date.asc",
                                "title.asc",
                                "title.desc",
                                "primary_release_date.desc",
                                "vote_average.asc",
                                "vote_average.desc",
                                "vote_count.asc",
                                "vote_count.desc"
                            ],
                            "default": "popularity.desc"
                        }
                    },
                    {
                        "name": "vote_average.gte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "vote_average.lte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "vote_count.gte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "vote_count.lte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "watch_region",
                        "in": "query",
                        "description": "use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_cast",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_companies",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_crew",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_genres",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_keywords",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_origin_country",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_original_language",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_people",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_release_type",
                        "in": "query",
                        "description": "possible values are: [1, 2, 3, 4, 5, 6] can be a comma (`AND`) or pipe (`OR`) separated query, can be used in conjunction with `region`",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "with_runtime.gte",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "with_runtime.lte",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "with_watch_monetization_types",
                        "in": "query",
                        "description": "possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_watch_providers",
                        "in": "query",
                        "description": "use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_companies",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_genres",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_keywords",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_watch_providers",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg\",\"genre_ids\":[28,12,878],\"id\":640146,\"original_language\":\"en\",\"original_title\":\"Ant-Man and the Wasp: Quantumania\",\"overview\":\"Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.\",\"popularity\":9272.643,\"poster_path\":\"/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg\",\"release_date\":\"2023-02-15\",\"title\":\"Ant-Man and the Wasp: Quantumania\",\"video\":false,\"vote_average\":6.5,\"vote_count\":1856},{\"adult\":false,\"backdrop_path\":\"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg\",\"genre_ids\":[16,12,10751,14,35],\"id\":502356,\"original_language\":\"en\",\"original_title\":\"The Super Mario Bros. Movie\",\"overview\":\"While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.\",\"popularity\":7212.464,\"poster_path\":\"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg\",\"release_date\":\"2023-04-05\",\"title\":\"The Super Mario Bros. Movie\",\"video\":false,\"vote_average\":7.5,\"vote_count\":1435},{\"adult\":false,\"backdrop_path\":\"/nDxJJyA5giRhXx96q1sWbOUjMBI.jpg\",\"genre_ids\":[28,35,14],\"id\":594767,\"original_language\":\"en\",\"original_title\":\"Shazam! Fury of the Gods\",\"overview\":\"Billy Batson and his foster siblings, who transform into superheroes by saying \\\"Shazam!\\\", are forced to get back into action and fight the Daughters of Atlas, who they must stop from using a weapon that could destroy the world.\",\"popularity\":4319.273,\"poster_path\":\"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg\",\"release_date\":\"2023-03-15\",\"title\":\"Shazam! Fury of the Gods\",\"video\":false,\"vote_average\":6.8,\"vote_count\":1203},{\"adult\":false,\"backdrop_path\":\"/ovM06PdF3M8wvKb06i4sjW3xoww.jpg\",\"genre_ids\":[878,12,28],\"id\":76600,\"original_language\":\"en\",\"original_title\":\"Avatar: The Way of Water\",\"overview\":\"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.\",\"popularity\":3471.132,\"poster_path\":\"/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg\",\"release_date\":\"2022-12-14\",\"title\":\"Avatar: The Way of Water\",\"video\":false,\"vote_average\":7.7,\"vote_count\":7519},{\"adult\":false,\"backdrop_path\":\"/xwA90BwZXTh8ke3CVsQlj8EOkFr.jpg\",\"genre_ids\":[28,12,36,18,10752],\"id\":948713,\"original_language\":\"en\",\"original_title\":\"The Last Kingdom: Seven Kings Must Die\",\"overview\":\"In the wake of King Edward's death, Uhtred of Bebbanburg and his comrades adventure across a fractured kingdom in the hopes of uniting England at last.\",\"popularity\":3162.414,\"poster_path\":\"/7yyFEsuaLGTPul5UkHc5BhXnQ0k.jpg\",\"release_date\":\"2023-04-14\",\"title\":\"The Last Kingdom: Seven Kings Must Die\",\"video\":false,\"vote_average\":7.4,\"vote_count\":226},{\"adult\":false,\"backdrop_path\":\"/5i6SjyDbDWqyun8klUuCxrlFbyw.jpg\",\"genre_ids\":[18,28],\"id\":677179,\"original_language\":\"en\",\"original_title\":\"Creed III\",\"overview\":\"After dominating the boxing world, Adonis Creed has been thriving in both his career and family life. When a childhood friend and former boxing prodigy, Damian Anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he deserves his shot in the ring. The face-off between former friends is more than just a fight. To settle the score, Adonis must put his future on the line to battle Damian — a fighter who has nothing to lose.\",\"popularity\":2865.256,\"poster_path\":\"/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg\",\"release_date\":\"2023-03-01\",\"title\":\"Creed III\",\"video\":false,\"vote_average\":7.3,\"vote_count\":1183},{\"adult\":false,\"backdrop_path\":\"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg\",\"genre_ids\":[27,53],\"id\":713704,\"original_language\":\"en\",\"original_title\":\"Evil Dead Rise\",\"overview\":\"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.\",\"popularity\":1898.367,\"poster_path\":\"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg\",\"release_date\":\"2023-04-12\",\"title\":\"Evil Dead Rise\",\"video\":false,\"vote_average\":6.9,\"vote_count\":192},{\"adult\":false,\"backdrop_path\":\"/bT3IpP7OopgiVuy6HCPOWLuaFAd.jpg\",\"genre_ids\":[35,9648,28],\"id\":638974,\"original_language\":\"en\",\"original_title\":\"Murder Mystery 2\",\"overview\":\"After starting their own detective agency, Nick and Audrey Spitz land a career-making case when their billionaire pal is kidnapped from his wedding.\",\"popularity\":1855.858,\"poster_path\":\"/s1VzVhXlqsevi8zeCMG9A16nEUf.jpg\",\"release_date\":\"2023-03-28\",\"title\":\"Murder Mystery 2\",\"video\":false,\"vote_average\":6.6,\"vote_count\":856},{\"adult\":false,\"backdrop_path\":\"/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg\",\"genre_ids\":[16,10751,14,12,35,18],\"id\":315162,\"original_language\":\"en\",\"original_title\":\"Puss in Boots: The Last Wish\",\"overview\":\"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.\",\"popularity\":1407.152,\"poster_path\":\"/kuf6dutpsT0vSVehic3EZIqkOBt.jpg\",\"release_date\":\"2022-12-07\",\"title\":\"Puss in Boots: The Last Wish\",\"video\":false,\"vote_average\":8.3,\"vote_count\":5326},{\"adult\":false,\"backdrop_path\":\"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg\",\"genre_ids\":[28,53,80],\"id\":603692,\"original_language\":\"en\",\"original_title\":\"John Wick: Chapter 4\",\"overview\":\"With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.\",\"popularity\":1312.743,\"poster_path\":\"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg\",\"release_date\":\"2023-03-22\",\"title\":\"John Wick: Chapter 4\",\"video\":false,\"vote_average\":8,\"vote_count\":1202},{\"adult\":false,\"backdrop_path\":\"/nDmPjKLqLwWyd4Ssti8HCdhW5cZ.jpg\",\"genre_ids\":[28],\"id\":1048300,\"original_language\":\"en\",\"original_title\":\"Adrenaline\",\"overview\":\"A female FBI agent holidaying in Eastern Europe with her family gets her life upside down when her daughter is kidnapped. She has to team up with a criminal on the run to save her daughter before time runs out.\",\"popularity\":1269.765,\"poster_path\":\"/qVzRt8c2v4gGBYsnaflXVVeQ9Lh.jpg\",\"release_date\":\"2022-12-15\",\"title\":\"Adrenaline\",\"video\":false,\"vote_average\":4,\"vote_count\":4},{\"adult\":false,\"backdrop_path\":\"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg\",\"genre_ids\":[53,35,80],\"id\":804150,\"original_language\":\"en\",\"original_title\":\"Cocaine Bear\",\"overview\":\"Inspired by a true story, an oddball group of cops, criminals, tourists and teens converge in a Georgia forest where a 500-pound black bear goes on a murderous rampage after unintentionally ingesting cocaine.\",\"popularity\":1223.954,\"poster_path\":\"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg\",\"release_date\":\"2023-02-22\",\"title\":\"Cocaine Bear\",\"video\":false,\"vote_average\":6.4,\"vote_count\":873},{\"adult\":false,\"backdrop_path\":\"/54IXMMEQKlkPXHqPExWy98UBmtE.jpg\",\"genre_ids\":[27],\"id\":1008005,\"original_language\":\"es\",\"original_title\":\"La niña de la comunión\",\"overview\":\"Spain, late 1980s. Newcomer Sara tries to fit in with the other teens in this tight-knit small town in the province of Tarragona. If only she were more like her extroverted best friend, Rebe. They go out one night at a nightclub, on the way home, they come upon a little girl holding a doll, dressed for her first communion. And that's when the nightmare begins.\",\"popularity\":1191.393,\"poster_path\":\"/sP6AO11a7jWgsmT9T8j9EGIWAaZ.jpg\",\"release_date\":\"2023-02-10\",\"title\":\"The Communion Girl\",\"video\":false,\"vote_average\":6.3,\"vote_count\":55},{\"adult\":false,\"backdrop_path\":\"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg\",\"genre_ids\":[878,12,53,28],\"id\":700391,\"original_language\":\"en\",\"original_title\":\"65\",\"overview\":\"65 million years ago, the only 2 survivors of a spaceship from Somaris that crash-landed on Earth must fend off dinosaurs and reach the escape vessel in time before an imminent asteroid strike threatens to destroy the planet.\",\"popularity\":1189.997,\"poster_path\":\"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg\",\"release_date\":\"2023-03-02\",\"title\":\"65\",\"video\":false,\"vote_average\":6.3,\"vote_count\":752},{\"adult\":false,\"backdrop_path\":\"/tFaC1Fb1sv1dALB0i9Avi76MHmn.jpg\",\"genre_ids\":[10751,28,12],\"id\":946310,\"original_language\":\"nl\",\"original_title\":\"De Piraten van Hiernaast II: De Ninja's van de Overkant\",\"overview\":\"The pirates feel right at home in Sandborough, but the atmosphere cools right down when the ninjas come to live in the street. After all, pirates and ninjas are sworn enemies!  While pirate captain Hector Blunderbuss struggles to get rid of his new neighbours, son Billy and ninja daughter Yuka become friends. The pirates challenge the ninjas to the ultimate battle at the village's annual hexathlon. Who will win the match? Ninjas are faster and more agile of course, but pirates are the best cheats in all of the seven seas...\",\"popularity\":1145.777,\"poster_path\":\"/uDsvma9dAwnDPVuCFi99YpWvBk0.jpg\",\"release_date\":\"2022-04-20\",\"title\":\"Pirates Down the Street II: The Ninjas from Across\",\"video\":false,\"vote_average\":6.2,\"vote_count\":21},{\"adult\":false,\"backdrop_path\":\"/rPSJAElGxOTko1zK6uIlYnTMFxN.jpg\",\"genre_ids\":[80],\"id\":1104040,\"original_language\":\"en\",\"original_title\":\"Gangs of Lagos\",\"overview\":\"A group of friends who each have to navigate their own destiny, growing up on the bustling streets and neighborhood of Isale Eko, Lagos.\",\"popularity\":1133.317,\"poster_path\":\"/nGwFsB6EXUCr21wzPgtP5juZPSv.jpg\",\"release_date\":\"2023-04-07\",\"title\":\"Gangs of Lagos\",\"video\":false,\"vote_average\":5.6,\"vote_count\":20},{\"adult\":false,\"backdrop_path\":\"/5Y5pz0NX7SZS9036I733F7uNcwK.jpg\",\"genre_ids\":[27,53],\"id\":758323,\"original_language\":\"en\",\"original_title\":\"The Pope's Exorcist\",\"overview\":\"Father Gabriele Amorth, Chief Exorcist of the Vatican, investigates a young boy's terrifying possession and ends up uncovering a centuries-old conspiracy the Vatican has desperately tried to keep hidden.\",\"popularity\":1103.242,\"poster_path\":\"/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg\",\"release_date\":\"2023-04-05\",\"title\":\"The Pope's Exorcist\",\"video\":false,\"vote_average\":6.5,\"vote_count\":142},{\"adult\":false,\"backdrop_path\":\"/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg\",\"genre_ids\":[28],\"id\":842945,\"original_language\":\"en\",\"original_title\":\"Supercell\",\"overview\":\"Good-hearted teenager William always lived in hope of following in his late father’s footsteps and becoming a storm chaser. His father’s legacy has now been turned into a storm-chasing tourist business, managed by the greedy and reckless Zane Rogers, who is now using William as the main attraction to lead a group of unsuspecting adventurers deep into the eye of the most dangerous supercell ever seen.\",\"popularity\":962.106,\"poster_path\":\"/gbGHezV6yrhua0KfAgwrknSOiIY.jpg\",\"release_date\":\"2023-03-17\",\"title\":\"Supercell\",\"video\":false,\"vote_average\":6.4,\"vote_count\":122},{\"adult\":false,\"backdrop_path\":\"/tYcmm8XtzRdcT6kliCbHuWwLCwB.jpg\",\"genre_ids\":[28,80,53],\"id\":849869,\"original_language\":\"ko\",\"original_title\":\"길복순\",\"overview\":\"At work, she's a renowned assassin. At home, she's a single mom to a teenage daughter. Killing? That's easy. It's parenting that's the hard part.\",\"popularity\":956.601,\"poster_path\":\"/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg\",\"release_date\":\"2023-02-17\",\"title\":\"Kill Boksoon\",\"video\":false,\"vote_average\":6.8,\"vote_count\":184},{\"adult\":false,\"backdrop_path\":\"/eNJhWy7xFzR74SYaSJHqJZuroDm.jpg\",\"genre_ids\":[28,878],\"id\":1033219,\"original_language\":\"en\",\"original_title\":\"Attack on Titan\",\"overview\":\"As viable water is depleted on Earth, a mission is sent to Saturn's moon Titan to retrieve sustainable H2O reserves from its alien inhabitants. But just as the humans acquire the precious resource, they are attacked by Titan rebels, who don't trust that the Earthlings will leave in peace.\",\"popularity\":875.796,\"poster_path\":\"/qNz4l8UgTkD8rlqiKZ556pCJ9iO.jpg\",\"release_date\":\"2022-09-30\",\"title\":\"Attack on Titan\",\"video\":false,\"vote_average\":6.1,\"vote_count\":104}],\"total_pages\":38020,\"total_results\":760385}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "page": {
                                            "type": "integer",
                                            "example": 1,
                                            "default": 0
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "adult": {
                                                        "type": "boolean",
                                                        "example": false,
                                                        "default": true
                                                    },
                                                    "backdrop_path": {
                                                        "type": "string",
                                                        "example": "/8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg"
                                                    },
                                                    "genre_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer",
                                                            "example": 28,
                                                            "default": 0
                                                        }
                                                    },
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 640146,
                                                        "default": 0
                                                    },
                                                    "original_language": {
                                                        "type": "string",
                                                        "example": "en"
                                                    },
                                                    "original_title": {
                                                        "type": "string",
                                                        "example": "Ant-Man and the Wasp: Quantumania"
                                                    },
                                                    "overview": {
                                                        "type": "string",
                                                        "example": "Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible."
                                                    },
                                                    "popularity": {
                                                        "type": "number",
                                                        "example": 9272.643,
                                                        "default": 0
                                                    },
                                                    "poster_path": {
                                                        "type": "string",
                                                        "example": "/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg"
                                                    },
                                                    "release_date": {
                                                        "type": "string",
                                                        "example": "2023-02-15"
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Ant-Man and the Wasp: Quantumania"
                                                    },
                                                    "video": {
                                                        "type": "boolean",
                                                        "example": false,
                                                        "default": true
                                                    },
                                                    "vote_average": {
                                                        "type": "number",
                                                        "example": 6.5,
                                                        "default": 0
                                                    },
                                                    "vote_count": {
                                                        "type": "integer",
                                                        "example": 1856,
                                                        "default": 0
                                                    }
                                                }
                                            }
                                        },
                                        "total_pages": {
                                            "type": "integer",
                                            "example": 38020,
                                            "default": 0
                                        },
                                        "total_results": {
                                            "type": "integer",
                                            "example": 760385,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/3/discover/tv": {
            "get": {
                "summary": "TV",
                "description": "Find TV shows using over 30 filters and sort options.",
                "operationId": "discover-tv",
                "parameters": [
                    {
                        "name": "air_date.gte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "air_date.lte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "first_air_date_year",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "first_air_date.gte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "first_air_date.lte",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "include_adult",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "include_null_first_air_dates",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "en-US"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "screened_theatrically",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "first_air_date.asc",
                                "first_air_date.desc",
                                "name.asc",
                                "name.desc",
                                "original_name.asc",
                                "original_name.desc",
                                "popularity.asc",
                                "popularity.desc",
                                "vote_average.asc",
                                "vote_average.desc",
                                "vote_count.asc",
                                "vote_count.desc"
                            ],
                            "default": "popularity.desc"
                        }
                    },
                    {
                        "name": "timezone",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vote_average.gte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "vote_average.lte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "vote_count.gte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "vote_count.lte",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "watch_region",
                        "in": "query",
                        "description": "use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_companies",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_genres",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_keywords",
                        "in": "query",
                        "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_networks",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "with_origin_country",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_original_language",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_runtime.gte",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "with_runtime.lte",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "with_status",
                        "in": "query",
                        "description": "possible values are: [0, 1, 2, 3, 4, 5], can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_watch_monetization_types",
                        "in": "query",
                        "description": "possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_watch_providers",
                        "in": "query",
                        "description": "use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_companies",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_genres",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_keywords",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "without_watch_providers",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_type",
                        "in": "query",
                        "description": "possible values are: [0, 1, 2, 3, 4, 5, 6], can be a comma (`AND`) or pipe (`OR`) separated query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\"page\":1,\"results\":[{\"backdrop_path\":\"/mAJ84W6I8I272Da87qplS2Dp9ST.jpg\",\"first_air_date\":\"2023-01-23\",\"genre_ids\":[9648,18],\"id\":202250,\"name\":\"Dirty Linen\",\"origin_country\":[\"PH\"],\"original_language\":\"tl\",\"original_name\":\"Dirty Linen\",\"overview\":\"To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot.\",\"popularity\":2684.061,\"poster_path\":\"/ujlkQtHAVShWyWTloGU2Vh5Jbo9.jpg\",\"vote_average\":5,\"vote_count\":13},{\"backdrop_path\":\"/wJmcuxa0C4AERmA9mejxm9qRYDj.jpg\",\"first_air_date\":\"2022-06-06\",\"genre_ids\":[80,9648],\"id\":203504,\"name\":\"Aashiqana\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"आशिकाना\",\"overview\":\"A serial killer sparks the story of uptight Yashvardhan and feisty Chikki. Plagued by misunderstandings, how far do they have to go to nab the murderer?\",\"popularity\":2658.037,\"poster_path\":\"/a4Z6Uohb6Ln5vcPvMUzwyn3WBjP.jpg\",\"vote_average\":6,\"vote_count\":8},{\"backdrop_path\":\"/xGKTgJlqCkq6tAK2sOTdULh7YaX.jpg\",\"first_air_date\":\"2022-10-10\",\"genre_ids\":[10766,18,35],\"id\":204370,\"name\":\"The Path\",\"origin_country\":[\"BR\"],\"original_language\":\"pt\",\"original_name\":\"Travessia\",\"overview\":\"After having her life course changed by a fake image and losing her childhood sweetheart to greed and power, Brisa, a strong woman, will struggle to rebuild her journey, raise her son, rediscover true love, and discover the truth about her origin.\",\"popularity\":2576.505,\"poster_path\":\"/raDj1xSVzBenwI87arenZY6eHmz.jpg\",\"vote_average\":4.7,\"vote_count\":16},{\"backdrop_path\":null,\"first_air_date\":\"2005-09-05\",\"genre_ids\":[18,35],\"id\":36361,\"name\":\"Ulice\",\"origin_country\":[\"CZ\"],\"original_language\":\"cs\",\"original_name\":\"Ulice\",\"overview\":\"Ulice is a Czech soap opera produced and broadcast by Nova. In the Czech language Ulice means street.\\n\\nThe show describes the lives of the Farský, Jordán, Boháč, Nikl, and Liška families and many other people that live in Prague. Their daily battle against real problems of living in a modern world like divorce, love, betrayal and illness or disease. Ulice often shows crime.\",\"popularity\":2518.788,\"poster_path\":\"/3ayWL13P1HeRnyVL9lU9flOdZjq.jpg\",\"vote_average\":2.2,\"vote_count\":10},{\"backdrop_path\":\"/azWBrlovNOOdy0eQYEe9BoiROoN.jpg\",\"first_air_date\":\"2023-03-20\",\"genre_ids\":[18,10766],\"id\":209085,\"name\":\"Amor Perfeito\",\"origin_country\":[\"BR\"],\"original_language\":\"pt\",\"original_name\":\"Amor Perfeito\",\"overview\":\"\",\"popularity\":2256.176,\"poster_path\":\"/aOPhyvHDauWFuc3rthpHArCNyrm.jpg\",\"vote_average\":3.5,\"vote_count\":4},{\"backdrop_path\":\"/69Jblm3seQgiPuPQMrJqg9Nxhaz.jpg\",\"first_air_date\":\"2011-01-10\",\"genre_ids\":[10763,10767],\"id\":101463,\"name\":\"Al rojo vivo\",\"origin_country\":[\"ES\"],\"original_language\":\"es\",\"original_name\":\"Al rojo vivo\",\"overview\":\"\",\"popularity\":2216.112,\"poster_path\":\"/ag6PmoBxkF2s1uY3An618NCEt3g.jpg\",\"vote_average\":1.5,\"vote_count\":4},{\"backdrop_path\":\"/t2rAdgjSh0WYbXzdOB5zTDqzdCI.jpg\",\"first_air_date\":\"2022-11-02\",\"genre_ids\":[18],\"id\":213713,\"name\":\"Faltu\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"Faltu\",\"overview\":\"What's in a name? Amidst the arid landscape of Rajasthan, a young woman with dreamy eyes struggles to prove her worth.\",\"popularity\":2022.814,\"poster_path\":\"/lgyFuoXs7GvKJN0mNm7z7OMOFuZ.jpg\",\"vote_average\":4.7,\"vote_count\":15},{\"backdrop_path\":\"/3n2TjKw3HrwDqgVgcynvantOfS3.jpg\",\"first_air_date\":\"2023-01-04\",\"genre_ids\":[18,10751],\"id\":215103,\"name\":\"Teri Meri Doriyaann\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"Teri Meri Doriyaan\",\"overview\":\"It’s hate at first sight for Sahiba and Angad! But destined to be together, their lives get intertwined by a marriage alliance, and a love-hate story ensues.\",\"popularity\":1970.896,\"poster_path\":\"/4BHDmYiuSnNL3nqKIOzLJKYX4AN.jpg\",\"vote_average\":4.9,\"vote_count\":7},{\"backdrop_path\":null,\"first_air_date\":\"2022-11-28\",\"genre_ids\":[18],\"id\":215315,\"name\":\"Rabb Se Hai Dua\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"रब्ब से है दुआ\",\"overview\":\"Dua and her husband are a perfect married couple in the eyes of their family. However, Dua’s life turns upside down when her husband seeks her permission to marry another woman.\",\"popularity\":1949.321,\"poster_path\":\"/6ikbefd7VeopbBuGgioYMNU5bQj.jpg\",\"vote_average\":6,\"vote_count\":2},{\"backdrop_path\":\"/1Xm0WqoT0DjZm5JdG2V6YFabrOz.jpg\",\"first_air_date\":\"2023-02-13\",\"genre_ids\":[10759,35,18],\"id\":215803,\"name\":\"Batang Quiapo\",\"origin_country\":[\"PH\"],\"original_language\":\"tl\",\"original_name\":\"Batang Quiapo\",\"overview\":\"A young man rises to be one of the biggest outlaws in the neighborhood while he navigates his way in life to survive in Quiapo. Hoping to earn the affection of his parents, his feat draws him closer to the truth about his identity.\",\"popularity\":1937.278,\"poster_path\":\"/9McqS8mgMf5NJCAKZIY6J1oOl8y.jpg\",\"vote_average\":5.6,\"vote_count\":8},{\"backdrop_path\":\"/aqJPC5GXuiVbedajRmdOVMCb7mC.jpg\",\"first_air_date\":\"2022-12-05\",\"genre_ids\":[18,10751,10766],\"id\":215902,\"name\":\"Katha Ankahee\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"कथा अनकही\",\"overview\":\"Katha, a single parent, is in need of funds for her son's medical treatment. She comes across Viaan, who offers help but his conditions put her in an awkward situation.\",\"popularity\":1910.323,\"poster_path\":\"/uhXU0SMPMlemKGHmwbldM60qqmW.jpg\",\"vote_average\":10,\"vote_count\":1},{\"backdrop_path\":\"/lcSvkJ2Rob3ICIOCUJahw3kgSYZ.jpg\",\"first_air_date\":\"2023-03-14\",\"genre_ids\":[18],\"id\":216390,\"name\":\"Woman in a Veil\",\"origin_country\":[\"KR\"],\"original_language\":\"ko\",\"original_name\":\"비밀의 여자\",\"overview\":\"Jung Gyul Wool loses her vision and ability to walk because of her materialistic husband and his mistress. Despite her shortcomings, she hatches a plot to seek revenge.\",\"popularity\":1908.768,\"poster_path\":\"/5ERr09UrnVm0hdXBeefNVtQMxI.jpg\",\"vote_average\":4.5,\"vote_count\":2},{\"backdrop_path\":\"/vW16JyrWiB1cW9wWzxhmjVHoqwJ.jpg\",\"first_air_date\":\"2023-03-13\",\"genre_ids\":[10766],\"id\":217510,\"name\":\"Queridos Papás\",\"origin_country\":[\"PT\"],\"original_language\":\"pt\",\"original_name\":\"Queridos Papás\",\"overview\":\"\",\"popularity\":1870.906,\"poster_path\":\"/m1aGGAPvLpWF5cGhkQeZjbpu2nr.jpg\",\"vote_average\":6,\"vote_count\":2},{\"backdrop_path\":\"/l7LRGYJY3NzIGBlpvHpMsNXHbm5.jpg\",\"first_air_date\":\"2023-01-09\",\"genre_ids\":[10751,35],\"id\":218145,\"name\":\"Mama na prenájom\",\"origin_country\":[\"SK\"],\"original_language\":\"sk\",\"original_name\":\"Mama na prenájom\",\"overview\":\"\",\"popularity\":1823.094,\"poster_path\":\"/fH7PP2Rkdlo414IHvZABBHhtoqd.jpg\",\"vote_average\":8,\"vote_count\":1},{\"backdrop_path\":\"/xkiv3e1daoqil5MRJitCJcwUgk2.jpg\",\"first_air_date\":\"2021-10-31\",\"genre_ids\":[10764],\"id\":114294,\"name\":\"Judy Justice\",\"origin_country\":[\"US\"],\"original_language\":\"en\",\"original_name\":\"Judy Justice\",\"overview\":\"The Honorable Judy Sheindlin, retired Judge of the Manhattan family Court, brings her signature blend of sharp wit and wisdom, hilarious candor and unwavering honesty that has made her America’s favorite judge for over 25 years, as she presides over real cases, arbitrates binding decisions and delivers what only she can: “Judy Justice.”\",\"popularity\":1764.592,\"poster_path\":\"/4E8Rb9vPbixxC0ZdzSkvE5fpeQa.jpg\",\"vote_average\":4.1,\"vote_count\":7},{\"backdrop_path\":\"/w9uM2biYWGqwEpvIYs8CXRoAdVB.jpg\",\"first_air_date\":\"2023-02-26\",\"genre_ids\":[10764,10767],\"id\":221249,\"name\":\"O Triângulo\",\"origin_country\":[\"PT\"],\"original_language\":\"pt\",\"original_name\":\"O Triângulo\",\"overview\":\"A series of physical, intellectual, emotional or psychological tests will test anonymous competitors, 24/7. In the end, only one will be victorious. Everything can change... At any time... When you least expect it!\",\"popularity\":1712.543,\"poster_path\":\"/A2LE5B1IInR5h98OUNzyj9aQiIS.jpg\",\"vote_average\":2,\"vote_count\":1},{\"backdrop_path\":\"/peqIR6V2zZdzp3MEZBCwtqw1Bf2.jpg\",\"first_air_date\":\"2022-11-28\",\"genre_ids\":[18],\"id\":215426,\"name\":\"Pyaar Ke Saat Vachan - Dharam Patni\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"Pyaar Ke Saat Vachan - Dharam Patni\",\"overview\":\"What will happen when Ravi Randhawa, a business tycoon, meets Pratiksha Parekh, a simple school teacher? Will sparks fly? Or is there no happy-ever-after for the opposite personalities?\",\"popularity\":1592.844,\"poster_path\":\"/fMR23wg4yNsTEhqyYIfvzDAOEae.jpg\",\"vote_average\":6,\"vote_count\":1},{\"backdrop_path\":\"/3FLHePl9Y3n4BidLVjIA9qSRDOE.jpg\",\"first_air_date\":\"2021-08-03\",\"genre_ids\":[10766],\"id\":130542,\"name\":\"Bhagya Lakshmi\",\"origin_country\":[\"IN\"],\"original_language\":\"hi\",\"original_name\":\"Bhagya Lakshmi\",\"overview\":\"Hailing from a middle-class family, Lakshmi’s life is upended when she realises that her marriage to Rishi Oberoi, an industrialist’s son, is a sham to keep his death at bay.\",\"popularity\":1503.839,\"poster_path\":\"/7wuKrFvbX7kAIF0ctotARsqayPo.jpg\",\"vote_average\":5,\"vote_count\":33},{\"backdrop_path\":\"/xYiI6QEZvx8Z4La1oHvApyZHpOU.jpg\",\"first_air_date\":\"2023-01-16\",\"genre_ids\":[10766,35],\"id\":209117,\"name\":\"Never Give Up\",\"origin_country\":[\"BR\"],\"original_language\":\"pt\",\"original_name\":\"Vai na Fé\",\"overview\":\"Sol is a hardworking woman who has the chance to work as a backing vocalist for a funk singer and return to dancing, as she did in her youth. Torn between family pressure and passion for the stage, she must face the judgment of her church's members and conflicts with her family. The new chance will make her reconnect with her past in many ways, leading her to find her great youth love.\",\"popularity\":1495.953,\"poster_path\":\"/6QNohzb7YUJ6eWZkXAYU8KGIq.jpg\",\"vote_average\":8.2,\"vote_count\":6},{\"backdrop_path\":\"/5fhS6Bh4VnF0SOZyZnhNpc0XHDb.jpg\",\"first_air_date\":\"2023-04-06\",\"genre_ids\":[18],\"id\":137206,\"name\":\"Till The End of The Moon\",\"origin_country\":[\"CN\"],\"original_language\":\"zh\",\"original_name\":\"长月烬明\",\"overview\":\"In an era when the demons are in power, they are the masters of the despicable cultivators and mortals. The cultivator elders deem it necessary to send someone back in time, to determine the origin of the demon lord and to prevent his awakening. Li Su Su accepts the mission, becoming the mortal Ye Xi Wu, General Ye's third daughter who is married to Tantai Jin, the hostage prince and future demon lord. She is determined to destroy Tantai Jin, who in the future will massacre many. But as a witness to Tantai Jin's past life and rise to power, an unexpected tale emerges, one complicating her quest.\",\"popularity\":1370.218,\"poster_path\":\"/xcKDmUKEzysLjJEJTjonNoMraht.jpg\",\"vote_average\":10,\"vote_count\":2}],\"total_pages\":7414,\"total_results\":148265}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "page": {
                                            "type": "integer",
                                            "example": 1,
                                            "default": 0
                                        },
                                        "results": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "backdrop_path": {
                                                        "type": "string",
                                                        "example": "/mAJ84W6I8I272Da87qplS2Dp9ST.jpg"
                                                    },
                                                    "first_air_date": {
                                                        "type": "string",
                                                        "example": "2023-01-23"
                                                    },
                                                    "genre_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer",
                                                            "example": 9648,
                                                            "default": 0
                                                        }
                                                    },
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 202250,
                                                        "default": 0
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Dirty Linen"
                                                    },
                                                    "origin_country": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "example": "PH"
                                                        }
                                                    },
                                                    "original_language": {
                                                        "type": "string",
                                                        "example": "tl"
                                                    },
                                                    "original_name": {
                                                        "type": "string",
                                                        "example": "Dirty Linen"
                                                    },
                                                    "overview": {
                                                        "type": "string",
                                                        "example": "To exact vengeance, a young woman infiltrates the household of an influential family as a housemaid to expose their dirty secrets. However, love will get in the way of her revenge plot."
                                                    },
                                                    "popularity": {
                                                        "type": "number",
                                                        "example": 2684.061,
                                                        "default": 0
                                                    },
                                                    "poster_path": {
                                                        "type": "string",
                                                        "example": "/ujlkQtHAVShWyWTloGU2Vh5Jbo9.jpg"
                                                    },
                                                    "vote_average": {
                                                        "type": "number",
                                                        "example": 5.5,
                                                        "default": 0
                                                    },
                                                    "vote_count": {
                                                        "type": "integer",
                                                        "example": 13,
                                                        "default": 0
                                                    }
                                                }
                                            }
                                        },
                                        "total_pages": {
                                            "type": "integer",
                                            "example": 7414,
                                            "default": 0
                                        },
                                        "total_results": {
                                            "type": "integer",
                                            "example": 148265,
                                            "default": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/3/configuration": {
            "get": {
                "summary": "Details",
                "description": "Query the API configuration details.",
                "operationId": "configuration-details",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\"images\":{\"base_url\":\"http://image.tmdb.org/t/p/\",\"secure_base_url\":\"https://image.tmdb.org/t/p/\",\"backdrop_sizes\":[\"w300\",\"w780\",\"w1280\",\"original\"],\"logo_sizes\":[\"w45\",\"w92\",\"w154\",\"w185\",\"w300\",\"w500\",\"original\"],\"poster_sizes\":[\"w92\",\"w154\",\"w185\",\"w342\",\"w500\",\"w780\",\"original\"],\"profile_sizes\":[\"w45\",\"w185\",\"h632\",\"original\"],\"still_sizes\":[\"w92\",\"w185\",\"w300\",\"original\"]},\"change_keys\":[\"adult\",\"air_date\",\"also_known_as\",\"alternative_titles\",\"biography\",\"birthday\",\"budget\",\"cast\",\"certifications\",\"character_names\",\"created_by\",\"crew\",\"deathday\",\"episode\",\"episode_number\",\"episode_run_time\",\"freebase_id\",\"freebase_mid\",\"general\",\"genres\",\"guest_stars\",\"homepage\",\"images\",\"imdb_id\",\"languages\",\"name\",\"network\",\"origin_country\",\"original_name\",\"original_title\",\"overview\",\"parts\",\"place_of_birth\",\"plot_keywords\",\"production_code\",\"production_companies\",\"production_countries\",\"releases\",\"revenue\",\"runtime\",\"season\",\"season_number\",\"season_regular\",\"spoken_languages\",\"status\",\"tagline\",\"title\",\"translations\",\"tvdb_id\",\"tvrage_id\",\"type\",\"video\",\"videos\"]}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "images": {
                                            "type": "object",
                                            "properties": {
                                                "base_url": {
                                                    "type": "string",
                                                    "example": "http://image.tmdb.org/t/p/"
                                                },
                                                "secure_base_url": {
                                                    "type": "string",
                                                    "example": "https://image.tmdb.org/t/p/"
                                                },
                                                "backdrop_sizes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "w300"
                                                    }
                                                },
                                                "logo_sizes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "w45"
                                                    }
                                                },
                                                "poster_sizes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "w92"
                                                    }
                                                },
                                                "profile_sizes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "w45"
                                                    }
                                                },
                                                "still_sizes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "w92"
                                                    }
                                                }
                                            }
                                        },
                                        "change_keys": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "adult"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/3/genre/tv/list": {
            "get": {
                "summary": "TV List",
                "description": "Get the list of official genres for TV shows.",
                "operationId": "genre-tv-list",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\"genres\":[{\"id\":10759,\"name\":\"Action & Adventure\"},{\"id\":16,\"name\":\"Animation\"},{\"id\":35,\"name\":\"Komödie\"},{\"id\":80,\"name\":\"Krimi\"},{\"id\":99,\"name\":\"Dokumentarfilm\"},{\"id\":18,\"name\":\"Drama\"},{\"id\":10751,\"name\":\"Familie\"},{\"id\":10762,\"name\":\"Kids\"},{\"id\":9648,\"name\":\"Mystery\"},{\"id\":10763,\"name\":\"News\"},{\"id\":10764,\"name\":\"Reality\"},{\"id\":10765,\"name\":\"Sci-Fi & Fantasy\"},{\"id\":10766,\"name\":\"Soap\"},{\"id\":10767,\"name\":\"Talk\"},{\"id\":10768,\"name\":\"War & Politics\"},{\"id\":37,\"name\":\"Western\"}]}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "genres": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 10759,
                                                        "default": 0
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Action & Adventure"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "x-readme": {
        "headers": [],
        "explorer-enabled": true,
        "proxy-enabled": true
    },
    "x-readme-fauxas": true
}